

.nav-link{
  font-family: 'Montserrat', sans-serif; 
     margin: 15px 50px;
  color: #191919    !important;
  font-size: 15px;
}

.nav-link:hover{
color: #F05454  !important; 
}

/* .about-head{
  display: block;
  position: relative;
  left: 215px;
  font-size: 75px;
  font-family: 'Be Vietnam Pro';
  font-weight: 900;
} */

.about-text{
  position: absolute;
  left: 720px;
  top: 320px;
  color: #191919;
  font-weight: 300;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif; 
}

.icons{
  position: absolute;
  top: 470px;
  left: 285px;
}

hr{
  position: relative;
  bottom: 75px;
}

.hr2{
  position: relative;
  top: 800px;
}

.sk{
  display: inline-block;
  position: relative;
  top: 300px;
  font-family: 'Montserrat', sans-serif; 
  color: #f4a83e    !important;
  font-size: 24px;
  font-weight: 200;


}

.student-image{
  position: relative;
  top: 150px;
  left: 445px;
}

li{
  list-style: none;
}

.tech-know{
  position: absolute;
  top: 800px;
  left: 200px;
  font-size: 40px;
  font-family: 'Be Vietnam Pro';
  font-weight: 900;
  color: #041C32;
  left: 75;
  
}

.education-text{
  position: relative;
  top: 450px;
  left: 200px;
  padding-bottom: 100px;
  font-family: 'Montserrat', sans-serif; 
  color: #f4a83e    !important;
  font-size: 24px;
  font-weight: 200;
}

.edu-know{
  position: relative;
  left: 200px;
  top: 600px;
  font-size: 40px;
  font-family: 'Be Vietnam Pro';
  font-weight: 900;
  color: #041C32;
}

/* .leo {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 35%;
  font-family: 'Kolker Brush', cursive;
  font-size: 100px;
color: #F05454 ;
} */

.man-image{
  height: 30px;
  position: relative;
  top: 200px;
  left: 700px;
}

/* gradHat Image */
.man2-image{
  position: relative;
  top: 510px;
  left: 320px;
}

.badge-image{
  position: relative;
  top: 40px;
  left: 900px;
}

.leo2 {
  display: inline-block;
  position: absolute;
  margin: 90px 1200px;

}

.aboutMe{
  position: absolute;
  top: 200px;
  margin: 20px 200px;
  font-size: 75px;
  font-family: 'Be Vietnam Pro';
  font-weight: 900;
  color: #C84B31;

  
}
