

.nav-link{
  font-family: 'Montserrat', sans-serif; 
     margin: 200px 30px;
  color: #314E52    !important;
  font-size: 24px;
}

.nav-link:hover{
color: #F05454  !important; 
}

hr{
  position: relative;
  bottom: 75px;
}

.hr2{
  position: relative;
  top: 800px;
}

.leo {
  display: inline-block;
  position: absolute;
  top: 50px;
  left: 740px;
  font-family: 'Kolker Brush', cursive;
  font-size: 100px;
color: #F05454 ;
}


.leo2 {
  display: inline-block;
  position: absolute;
  margin: 90px 1200px;

}

.aboutMe{

  position: absolute;
  margin: 50px 390px;
  font-size: 55px;
  font-family: 'Montserrat', sans-serif; 
  color: #F05454;
}
