body{
  background-color: #ecdbba50 !important
}

.nav-link{
  font-family: 'Montserrat', sans-serif; 
     margin: 175px 30px;
  color: #2D4263    !important;
  font-size: 15px;
}

.nav-link:hover{
color: #F05454  !important; 
}

.about-text{
  position: relative;
  left: 750px;
  top: 115px;
  color: #191919;
  font-weight: 300;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif; 
}

.icons{
  position: absolute;
  top: 725px;
  left: 250px;
}

hr{
  position: relative;
  bottom: 75px;
}

.hr2{
  position: relative;
  top: 800px;
}

.sk{
  display: inline-block;
  position: relative;
  top: 1000px;
  left: 800px;
  font-family: 'Montserrat', sans-serif; 
  color: #314E52    !important;
  font-size: 24px;


}

.leo {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 35%;
  font-family: 'Kolker Brush', cursive;
  font-size: 100px;
color: #F05454 ;
}


.leo2 {
  display: inline-block;
  position: absolute;
  margin: 90px 1200px;

}

.aboutMe{
  position: absolute;
  margin: 20px 200px;
  font-size: 75px;
  font-family: 'Be Vietnam Pro';
  font-weight: 900;
  color: #C84B31;
}
